.container {
  height: 900%;
  border: 2px solid #e3e4df;
  background-color: white;
  border-radius: 12px;
}
.innerbox {
  margin: auto;
  margin-top: 15px;
  padding: 10px;
  width: 50%;
  height: 40%;
  border: 2px solid #e3e4df;
  border-radius: 12px;
}
.contain {
  display: flex;
  justify-content: space-between;
}
.btn {
  background-color: blue;
  color: white;
  padding: 8px 12px;
  float: right;
  border: 1px solid #e3e4df;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
.btn:hover {
  background-color: #2980b9;
}

.actionButton {
  display: flex;
  justify-content: space-evenly;
  margin-top: "3px";
  margin: auto;
}
.share {
  padding: 8px 12px;
}
.share:hover {
  cursor: pointer;
  padding: 8px;
  border: 1px solid black;
}
/* button {
  background-color: #1264b6;
  color: white;
  padding: 8px 12px;
  border: 1px solid #e3e4df;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: lightblue;
  border-radius: 8px;
} */
/* .menu {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
/* }
.menu:hover {
  cursor: pointer;
} */
