.container {
  height: 900%;
  border: 2px solid #e3e4df;
  background-color: white;
  border-radius: 12px;
}
.innerbox {
  margin: auto;
  margin-top: 15px;
  padding: 10px;
  width: 50%;
  height: 40%;
  border: 2px solid #e3e4df;
  border-radius: 12px;
}
.contain {
  display: flex;
  justify-content: space-between;
}
.btn {
  background-color: blue;
  color: white;
  padding: 8px 12px;
  float: right;
  border: 1px solid #e3e4df;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
.btn:hover {
  background-color: #2980b9;
}

.actionButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.share {
  padding: 8px 12px;
  border: none;
}
/* .share:hover {
  cursor: pointer;
  padding: 8px;
  border: 1px solid black; */
/* } */
.modal {
  display: block;
  position: fixed;
  /* z-index: 1; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
}
.modalContent {
  /* position: absolute; */
  background-color: #fefefe;

  margin-top: 10%;
  margin-left: 50%;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}
/* p:hover {
  background-color: grey;
} */

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
