/* .container {
  position: fixed;
} */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 8px;
  /* overflow: hidden;
  position: fixed;
  top: 0; */
}
.ul {
  display: flex;
  gap: 24px;
  list-style: none;
  justify-content: space-around;
  cursor: pointer;
}
img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
