.container {
  border: 2px solid #e3e4df;
  background-color: #fff;
  border-radius: 8px;
  /* height: 500px; */
}
.profileCard {
  position: relative;
  padding: 35px;
  background-color: lightblue;
  border-radius: 8px 8px 0 0;
}
.avatarContainer {
  display: flex;
  position: absolute;
  bottom: -30px;
  /* left: calc(100%-90px); */
  left: 120px;
  align-items: center;
  justify-content: center;
}

.head {
  text-align: center;
  margin-top: 30px;
}
.pName {
  margin: 0;
  padding: 8px;
  font-size: 16px;
  font-weight: 900;
  text-decoration: underline;
}
.pHeadline {
  margin: 0;
  color: grey;
  font-size: 15px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ddd;
  /* border-bottom: 1px solid grey; */
}
.card {
  /* margin: 4px; */
  padding-left: 30px;
}
.title {
  margin: 0;
  color: #2a78ca;
  font-weight: 600;
  font-size: 16px;
}
.title:hover {
  cursor: pointer;
  text-decoration: underline;
}
.description {
  margin-top: 4px;
  font-size: 15px;
  list-style-type: square;
  color: rgb(65, 60, 60);
}
/* .discover {
  align-content: center;
  font-weight: 800;
  color: #afafaf;
  padding-top: 0;
  border-top: 1px solid #ddd;
} */
