* {
  box-sizing: border-box;
}
h1 {
  margin: auto;
}
.formContainer {
  margin-top: 10px;
}
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border: 2px solid #e3e4df;
  border-radius: 8px;
  background-color: white;
}

label {
  padding-bottom: 10px;
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e3e4df;
  border-radius: 8px;
  font-size: 16px;
}
.button {
  background-color: #1264b6;
  color: white;
  padding: 10px 15px;
  border: 1px solid #e3e4df;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.button:hover {
  background-color: #2980b9;
}
.skill {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  border: 2px solid #ddd;
  background: #f2f2f2;
  margin-top: 8px;
  padding: 12px;
  border-radius: 12px;
  list-style-type: none;
}
/* .skill button {
  background-color: red;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  /* display: flex; */
/* gap: 20px; */
/* } */
