.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
.ul {
  display: flex;
  gap: 24px;
  list-style: none;
  justify-content: space-around;
  cursor: pointer;
}
.p {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  