/* .container {
  width: 75%;
  height: 200px;
  background-color: aliceblue;

} */
.details {
  margin: auto;
  align-items: center;
}
.like {
  gap: 4px;
  background-color: blue;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.like:hover {
  background-color: #2980b9;
}
.comment {
  background-color: blue;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.comment:hover {
  background-color: #2980b9;
}
