/* IconBar.css */
.container {
  display: flex;
  flex-direction: column;
}
.iconBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 10px 0;
  margin-top: 5px;
}

.iconItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #1e1c1c;
  border: none;
  background: none;
  font-size: 15px;
  padding: 4px 8px;
}
.iconBtn {
  border: none;
  background: none;
}
.iconItem:hover {
  background: #ddd;
  padding: 4px 8px;
}

.iconItem span {
  margin-left: 5px;
}
.form {
  padding: 0;
  border: none;
  margin-left: 4px;
}
.formContainer {
  margin-top: 10px;
  display: flex;
  /* align-items: ; */
  justify-content: space-between;
  gap: 20px;
}
.commentInput {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #e3e4df;
  font-size: 16px;
}
.btnSubmit {
  padding: 2px 4px;
}
.commentBox {
  border: 2px solid #ddd;
  background: #f2f2f2;
  margin-top: 10px;
  /* padding-left: 100px; */
  border-radius: 8px;
  padding: 8px;
}
