.container {
  height: 900%;
  border: 2px solid #e3e4df;
  background-color: white;
  border-radius: 12px;
}
.innerbox {
  margin: auto;
  margin-top: 15px;
  padding: 10px;
  width: 50%;
  height: 40%;
  border: 2px solid #e3e4df;
  border-radius: 12px;
}
.contain {
  display: flex;
  justify-content: space-between;
}
.imageContent {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.nameContent {
  font-size: 15px;
  font-weight: 600;
  color: #2b2b2b;
}
.nameContent:hover {
  cursor: pointer;
  color: #2a78ca;
  text-decoration: underline;
}
.headlineContent {
  font-size: 12px;
  font-weight: 500;
  color: grey;
}
.btn {
  position: fixed;
  bottom: 25px;
  right: 22px;
  background-color: blue;
  color: white;
  padding: 8px 12px;
  border: 1px solid #e3e4df;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}
/* .btn:hover {
  background-color: #2980b9;
} */

.modal {
  position: absolute;
  top: 30px;
  left: 0;
  min-width: 100px;
  background-color: #fefefe;
  padding: 0;
  border: 1px solid #888;
  cursor: pointer;
}
.content {
  padding: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modalBtnWrapper {
  width: 100%;
  padding: 4px 8px;
}
.modalBtnWrapper:hover {
  background: #ddd;
}
.btnEdit {
  border: none;
  background: none;
  cursor: pointer;
  /* margin-bottom: 15px; */
}
.btnDelete {
  border: none;
  background: none;
  cursor: pointer;
  /* margin-bottom: 5px; */
}

.close {
  float: right;
  color: #aaa;
  font-size: 28px;
  border: none;
  background: none;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.btnIcon {
  border: none;
  background: none;
}
